html{
  margin-right: 7%;
  margin-left: 7%;
}

a {
  display: none;

}

.navbar p{
  display: none;
}

#a, #b, #c, #d, #e, #f, #g, #h{
  background-color: black;
  margin-bottom: 1em;
  color: white;
  height: 300px;
}

.icon-menu:active{
  display: block;

}

body{
  background-color: white;
  font-family: 'Archivo Black', sans-serif;
}

p{
  color: black;
  font-size: 3em; 
  background-color: yellow;
}

@media only screen and (min-width: 640px){

 html{
   margin-right: 10%;
   margin-left: 10%;
   margin-top: 2%;
 } 

  nav{
    margin: 2em 3em 3em 3em;
    text-align: center;
  }

  .navbar p{
    font-size: 1.5em;
    margin-bottom: 0%;
    margin-top: 0%;
    color: black;
  }

  

  a {
    display: inline-block;
    color:black;
    text-decoration: none;
    margin-right: 1em;
    margin-left: 1em;
    
  }

  .icon-menu{
    display: none;
  }

  body{
    background: pink;
    
  }

  p{
    color: black;
    font-size: 3.5em;
    margin-bottom: 0.5em;
  }

}