a {
  display: none;

}

.icon-menu:active{
  display: block;

}

body{
  background-color: black;
}

p{
  color: white;
  font-size: 7em; 
}

@media only screen and (min-width: 640px){

  a {
    display: inline-block;
  }

  .icon-menu{
    display: none;
  }

  body{
    background: pink;
  }

  p{
    color: black;
    font-size: 8em;
    margin-bottom: 0.5em;
  }

}